---
import CardLaunch from "./CardLaunch.astro";

import { getStarWars } from "../types/starwars.ts";

const launches = await getStarWars();
---

<div class="container">
  {
    launches.map((launche) => (
      <CardLaunch
        name={launche.name}
        height={launche.height}
        mass={launche.mass}
        hair_color={launche.hair_color}
        skin_color={launche.skin_color}
        eye_color={launche.eye_color}
        birth_year={launche.birth_year}
      />
    ))
  }
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px 30px;
    grid-template-areas: ". . .";
    justify-items: center;
    margin: 40px 0px 30px 0px;
  }
</style>
