---
import ImgPerson from "../json/img.json";
interface Props {
  name: string;
  height: string;
  mass: string;
  hair_color: string;
  skin_color: string;
  eye_color: string;
  birth_year: string;
}

const { name, birth_year, height, mass, hair_color, skin_color, eye_color } =
  Astro.props;

const personImg = ImgPerson.map((person) => ({
  nombre: person.name,
  img: person.imagen,
}));

const encontrado = personImg.find((person) => person.nombre == name);

// if (encontrado) {
//   console.log(encontrado.img);
// }
---

<a href=`/launch/${name}` class="text-gradient card">
  <h2 class="title">{name}</h2>
  <picture>
    <img
      src={encontrado.img}
      alt={`Personaje ${name}`}
      height="200"
      width="300"
      class="img"
    />
  </picture>
  <header>
    <ul class="ul">
      <li>Altura {height}</li>
      <li>Masa {mass}</li>
      <li>Color de pelo {hair_color}</li>
      <li>Color de piel {skin_color}</li>
      <li>Color de ojos {eye_color}</li>
    </ul>
    <p>Cumple años {birth_year} 🎈</p>
  </header>
</a>

<style>
  :root {
    --color-one: #e5e0ff;
    --accent: 142, 167, 233;
    --accent-light: 229, 224, 255;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  .card {
    border: 10px solid var(--color-one);
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--color-one);
    color: #7286d3;
  }
  .card:hover {
    box-shadow: 0px 0px 30px #a9bdf1;
  }
  .title {
    text-align: center;
    font-weight: 800;
    margin: 20px;
    padding-bottom: 5px;
    border-bottom: 2px inset #7286d3;
  }
  .img {
    border-radius: 10px;
  }
  .ul {
    list-style: none;
  }
</style>
