---
import ImgPerson from "../json/img.json";
interface Props {
  name: string;
  height: string;
  mass: string;
  hair_color: string;
  skin_color: string;
  eye_color: string;
  birth_year: string;
}

const { name, birth_year, height, mass, hair_color, skin_color, eye_color } =
  Astro.props;

const personImg = ImgPerson.map((person) => ({
  nombre: person.name,
  img: person.imagen,
}));

const encontrado = personImg.find((person) => person.nombre == name);

const olo = hair_color ? "No tiene" : "No tiene";
---

<a href=`/launch/${name}` class="text-gradient card">
  <h2 class="title">{name}</h2>
  <picture>
    <img
      src={encontrado.img}
      alt={`Personaje ${name}`}
      height="200"
      width="280"
      class="img"
    />
  </picture>
  <header>
    <ul class="ul">
      <li><spam>Altura</spam> {height}</li>
      <li><spam>Masa</spam> {mass}</li>
      <li><spam>Color de pelo</spam><br />{hair_color}</li>
      <li><spam>Color de piel</spam><br />{skin_color}</li>
      <li><spam>Color de ojos</spam><br />{eye_color}</li>
      <li><spam>Cumple años</spam><br />{birth_year}</li>
    </ul>
  </header>
</a>

<style>
  :root {
    --color-one: #e5e0ff;
    --accent: 142, 167, 233;
    --accent-light: 229, 224, 255;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  .card {
    height: 420px;
    width: 290px;
    border-radius: 10px;
    text-decoration: none;
    transition: all ease-out 0.5s;
    color: #7286d3;
    border: 10px solid var(--color-one);
  }
  .card:hover {
    box-shadow: 0px 0px 30px #a9bdf1;
    background-color: #e4e4f7;
  }
  .title {
    text-align: center;
    font-weight: 800;
    margin: 20px;
    padding-bottom: 5px;
    border-bottom: 2px inset #7286d3;
  }

  picture {
    display: flex;
    justify-content: center;
  }
  .img {
    border-radius: 10px;
  }
  .ul {
    list-style: none;
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px 15px;
  }
  spam {
    font-size: 13px;
    font-weight: 700;
  }
  li {
    font-size: 13px;
  }
</style>
